<section id="gallery-section">
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-uppercase text-center">
                    Onze gallerij
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="@Url.Content("~/Images/gallery/gallery1.jpg")" data-toggle="lightbox" data-gallery="multiimages">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery1-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="@Url.Content("~/Images/gallery/FullSizeRender-6.jpg")" data-toggle="lightbox" data-gallery="multiimages">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery2-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="@Url.Content("~/Images/gallery/IMG_0948.jpg")" data-toggle="lightbox" data-gallery="multiimages">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery3-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="@Url.Content("~/Images/gallery/IMG_1013.jpg")" data-toggle="lightbox" data-gallery="multiimages">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery4-thumb.jpg")" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="@Url.Content("~/Images/gallery/IMG_1047.jpg")" data-toggle="lightbox" data-gallery="multiimages">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery5-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="@Url.Content("~/Images/gallery/IMG_1056.jpg")" data-toggle="lightbox" data-gallery="multiimages">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery6-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery7-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery8-thumb.jpg")" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->4
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery9-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery10-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery11-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery12-thumb.jpg")" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery13-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery14-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery15-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery16-thumb.jpg")" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery17-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery18-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery19-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery20-thumb.jpg")" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
        
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery21-thumb.jpg")" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/thumbnails/gallery22-thumb.jpg")" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/lightbox")

    <script type="text/javascript">
        $('li.nav-gallery').addClass("active");
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
}