@section styles {
    @Styles.Render("~/Content/photoswipe-styling")
}

<section id="gallery-section" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-uppercase text-center">
                    Onze gallerij
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- Gallery Row -->
        <div class="row">
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery1.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery1.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                <!--  <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> --> -->
            </figure>
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery2.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery2.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery3.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery3.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery4.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery4.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
        </div>
        <!-- /.row -->
        <!-- Gallery Row -->
        <div class="row">
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery5.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery5.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery6.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery6.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery7.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery7.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery8.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery8.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
        </div>
        <!-- /.row -->

        <!-- Gallery Row -->
        <div class="row">
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery9.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery9.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery10.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery10.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery11.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery11.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery12.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery12.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
        </div>
        <!-- /.row -->

        <!-- Gallery Row -->
        <div class="row">
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery13.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery13.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery14.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery14.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery15.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery15.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery16.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery16.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
        </div>
        <!-- /.row -->

        <!-- Gallery Row -->
        <div class="row">
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery17.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery17.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery18.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery18.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery19.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery19.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery20.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery20.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
        </div>
        <!-- /.row -->

        <!-- Gallery Row -->
        <div class="row">
            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery21.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery21.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>

            <figure class="col-md-3 portfolio-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="@Url.Content("~/Images/gallery/gallery22.jpg")" itemprop="contentUrl" data-size="1100x825">
                    <img class="img-responsive img-rounded" src="@Url.Content("~/Images/gallery/gallery22.jpg?w=750&h=450&mode=carve")" itemprop="thumbnail" alt="Image description" />
                </a>
                 <!-- <figcaption itemprop="caption description">Image 1 caption</figcaption> -->
            </figure>
        </div>
        <!-- /.row -->
    </div>
</section>

@Html.Action("PhotoswipeOverlay")

@section scripts
{
    @Scripts.Render("~/bundles/photoswipe")
}