@model DakwerkenRadino.Business.Models.ContactFormModel

@if (ViewBag.ShowSuccessMessage != null && ViewBag.ShowSuccessMessage)
{
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Mail verstuurd:</span>
        Bedankt voor de informatie aanvraag. Dakwerken&nbsp;Radino behandeld deze zo spoedig mogelijk!
    </div>
}
else
{
    <h2 class="text-center text-uppercase">Vraag een gratis offerte aan, aarzel niet!</h2>

    using (Html.BeginForm("send-mail", "Contact", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "contact-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.ValidationMessageFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Naam" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddres, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.ValidationMessageFor(model => model.EmailAddres)
                @Html.TextBoxFor(model => model.EmailAddres, new { @class = "form-control", @placeholder = "E-mail" })
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Uw e-mailadres" data-content="Uw e-mailadres heeft de volgende vorm: info@dakwerken.be. Gelieve de e-mailsyntax te respecteren!"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.ValidationMessageFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Telefoonnummer" })
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Uw telefoonnummer" data-content="Uw telefoonnummer bestaat enkel uit cijfers (bijvoorbeeld +32 499 27 81 26). Volgende karakters zijn ook toegelaten: / + ."></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StreetAndNumber, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.ValidationMessageFor(model => model.StreetAndNumber)
                @Html.TextBoxFor(model => model.StreetAndNumber, new { @class = "form-control", @placeholder = "Straat en nummer" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Zipcode, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.ValidationMessageFor(model => model.Zipcode)
                @Html.TextBoxFor(model => model.Zipcode, new { @class = "form-control", @placeholder = "Postcode" })
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Uw postcode" data-content="Uw postcode is een getal bestaande uit 4 cijfers (bijvoorbeeld 8420). Gelieve deze postcodesyntax te respecteren!"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.ValidationMessageFor(model => model.City)
                @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "Gemeente" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SortOfJobs, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.DropDownListFor(model => model.SelectedSortOfJob, Model.SortOfJobs, new { @class = "selectpicker form-control", @multiple = "multiple", @title = "Selecteer het type werk" })
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="popover" title="Het type van werk" data-content="Dit veld is optioneel. U kan geen of meerdere types van werk selecteren!"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Message, new { @class = "col-sm-4 control-label" })
            <div class="col-sm-8">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @rows = "6" })
                <span class="glyphicon glyphicon-info-sign text-area-glyph" aria-hidden="true" data-toggle="popover" title="Uw boodschap" data-content="Dit veld is optioneel, maar extra uitleg vereenvoudigt ook ons werk. Daarnaast kunnen we een betere inschatting geven als u het type werk wat toelicht!"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-lg btn-danger pull-right">Verstuur</button>
            </div>
        </div>
    }
}