@model DakwerkenRadino.Business.Models.ContactFormModel
@{
    ViewBag.Title = "Contact";
    ViewBag.MetaDescription = "Aarzel niet en vraag een gratis offerte aan!";
}

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-select.min.css")" />
}

<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                @Html.Partial("_ContactForm", Model)
            </div><!-- /.col-lg-6 -->

            <div class="col-lg-6">
                @Html.Partial("_ContactInformation")
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
    <div id="all-projects-panel-small">
        <div class="container">
            <h1 class="text-center text-uppercase">Neem een kijkje naar al onze projecten</h1>
            @Html.ActionLink("Alle projecten", "Index", "Work", null, new { @class = "btn btn-custom text-uppercase btn-lg", @role = "button" })
        </div>
    </div>
</section>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('li.nav-contact').addClass("active");

        $(function () {
            $('[data-toggle="popover"]').popover({
                placement: "top",
                trigger: "hover"
            });
        });
    </script>
}