<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="@Url.Content("~/Images/banner/banner-1.jpg")" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Beste prijs/kwaliteit verhouding</h1>
                    <p class="subtext">Garantie op een interessante prijs voor een kwalitatieve uitvoering</p>
                    <p>@Html.ActionLink("Werken", "Index", "Work", null, new { @class = "btn btn-lg btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Images/banner/banner-2.jpg")" alt="Second slide">
            <div class="container">
                <div class="carousel-caption black">
                    <h1>Bekijk onze gallerij</h1>
                    <p class="subtext">Laat je overtuigen door onze kwaliteiten en neem eens kijkje in onze gallerij</p>
                    <p>@Html.ActionLink("Gallerij", "Index", "Gallery", null, new { @class = "btn btn-lg btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Images/banner/banner-3.jpg")" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Persoonlijke aanpak</h1>
                    <p class="subtext">De klant geniet steeds een persoonlijke en professionele aanpak</p>
                    <p>@Html.ActionLink("Contact", "Index", "Contact", null, new { @class = "btn btn-lg btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Vorige</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Vorige</span>
    </a>
</div><!-- /.carousel -->