<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <strong itemprop="name">Dakwerken Radino</strong><br>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span><span itemprop="streetAddress">  Grotestraat 49</span><br>
                    <span class="city-address"><span itemprop="addressLocality">  De Haan</span>, <span itemprop="postalCode">8420</span></span><br>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><span itemprop="telephone">  +32 499 27 81 26</span><br>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:info@dakwerkenRadino-radino.be" itemprop="email">  info@dakwerken-radino.be</a><br />
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span><a href="http://www.dakwerken-radino.be" itemprop="url">  dakwerken-radino.be</a><br />
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="https://www.facebook.com/DakwerkenRadino?fref=ts" target="_blank">  DakwerkenRadino @@ Facebook</a>
                </address>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="page-up-panel">
                    <a class="scrollToTop" href="#">
                        <img class="img-page-up" src="@Url.Content("~/Images/up.png")" alt="Terug naar boven" />
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <div class="pull-right-responsive site-nav">
                    <strong>Sitenavigatie</strong>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Projecten", "Index", "Work")</li>
                        <li>@Html.ActionLink("Wie zijn we", "About", "Home")</li>
                        <li>@Html.ActionLink("Gallerij", "Index", "Gallery")</li>
                        <li>@Html.ActionLink("Contacteer ons", "Index", "Contact")</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <small class="text-center"><span itemprop="name">Dakwerken Radino</span> &copy; @DateTime.Now.Year - All rights reserved. Created by Singhularity</small>
        </div>
    </div>
</footer>