<!DOCTYPE html>
<html>
    <head>
        <meta name="robots" content="noindex, nofollow"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="@ViewBag.MetaDescription">
        <meta name="author" content="Singhularity">
        <title>Dakwerken Radino - @ViewBag.Title</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript" src="@Url.Content("~/Scripts/appInsights.js")" language="javascript" ></script>
    </head>
    <body>
        @Html.Action("NavigationBar", "Home")
        @RenderBody()

        @Html.Action("Footer", "Home")
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)

        <script type="text/javascript">
            $('.scrollToTop').click(function () {
                $('html, body').animate({ scrollTop: 0 }, 800);
                return false;
            });
        </script>
    </body>
</html>